<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.operatorTracker.mapper.OtAppOperatorTimeMapper">

 	<insert id="insertOtAppOperatorTime" parameterType="OtAppOperatorTime" useGeneratedKeys="true" keyProperty="userOperatorTimeNo">
        insert into ot_operator_time
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="operatorNo != null">operator_no,</if>
            <if test="taskStartTime != null">start_time,</if>
            <if test="taskEndTime != null">end_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="operatorNo != null">#{operatorNo},</if>
            <if test="taskStartTime != null">#{taskStartTime},</if>
            <if test="taskEndTime != null">#{taskEndTime},</if>
        </trim>
    </insert>
    
    <resultMap type="OtAppOperatorTime" id="OtAppOperatorTimeResult">
    	<result property="userOperatorTimeNo"    column="operator_time_no"    />
        <result property="operatorNo"    column="operator_no"    />
        <result property="taskStartTime"    column="start_time"    />
        <result property="taskEndTime"    column="end_time"    />
    </resultMap>

    <sql id="selectOtAppOperatorTimeVo">
        select operator_time_no, operator_no, start_time, end_time from ot_operator_time
    </sql>

    <select id="selectOtAppOperatorTimeList" parameterType="OtAppOperatorTime" resultMap="OtAppOperatorTimeResult">
        <include refid="selectOtAppOperatorTimeVo"/>
        <where>  
        	<if test="operatorNo != null">and operator_no = #{operatorNo}</if>
            <if test="taskStartTime != null">and start_time = #{taskStartTime}</if>
            <if test="taskEndTime != null">and end_time = #{taskEndTime}</if>
        </where>
    </select>
    
    <select id="selectOtAppMachineById" parameterType="Long" resultMap="OtAppOperatorTimeResult">
        <include refid="selectOtAppOperatorTimeVo"/>
        where machine_no = #{machineNo}
    </select>
    
    <select id="selectOtAppOperatorTimeUserList" parameterType="OtAppOperatorTime" resultType="java.util.Map">
		SELECT 
		t1.operator_time_no as operatorTimeNo,
		t1.start_time as startTime,
		t1.end_time as endTime,
		t2.user_true_name as userName 
		FROM
		ot_operator_time t1
		LEFT JOIN ot_app_user t2 ON t1.operator_no = t2.user_no
    </select>
    
    <update id="updateOtAppMachine" parameterType="OtAppMachine">
        update ot_app_machine
        <trim prefix="SET" suffixOverrides=",">
            <if test="machineName != null">machine_name = #{machineName},</if>
        </trim>
        where machine_no = #{machineNo}
    </update>

    <delete id="deleteOtAppMachineById" parameterType="Long">
        delete from ot_app_machine where machine_no = #{machineNo}
    </delete>
    
</mapper>